.popular-main{
    font-size: 1.2rem;
    padding: 1rem 2rem;
}
.popular-inner{
    display: flex;
    margin-top: 2rem;
    gap:1rem
}
.outline{
    border: 3px solid var(--popular-outline);
    padding: 0.5rem;
    border-radius: 50%;
}
.space{
    height: 0.5rem;
    background-color: #f2f2f2;
    margin-top: 3rem;
}

@media only screen and (max-width:767px){
    .popular-main{
        font-size: 0.8rem;
        padding: 0.8rem;
    }
    .popular-inner{
        overflow-x: scroll;
        margin-top: 1rem;
    }
    .space{
        margin-top: 1.5rem;
    }
    .min-size{
        width: 60px !important;
        height: 60px !important;
        font-size: 0.8rem !important;
    }
    .outline{
        border: 1.5px solid var(--popular-outline);
        padding: 0.2rem;
    } ;
    
}